.v-flex {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.h-flex {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.h-flex-justify-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.h-flex-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h-flex-justify-end {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.v-flex-justify-center-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-self-center {
  align-self: center;
}