<div class="navigation-container">

  <nav class="top-bar">
    <h5 class="c-white">CONTINENTAL</h5>
  </nav>

  <div class="main-container">

    <nav class="sidebar-container">
      <div class="sidebar-padding-container">
        <h3 style="color: var(--surface-600)">Menú</h3>

        @for (route of routeList; track $index) {
        <p-button
          label="{{ route.name }}"
          size="small"
          icon="{{ route.icon }}"
          severity="secondary"
          [rounded]="true"
          (onClick)="redirectTo(route.route)"
        ></p-button>
        }
      </div>
    </nav>

    <main class="main-content-container">
      <div class="main-content-padding-container">
        <ng-content />
      </div>
    </main>

  </div>

</div>
