<app-navigation-container>

  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <app-card-with-skeleton>

    <h3 class="c-title fw-400">Validación</h3>

    <p-table [value]="validationQuery.data() || []">
  
      <ng-template pTemplate="header">
  
        <tr>  

          <th>Código</th>
          
          <th>Asignatura</th>
          
          <th>Tipo de diseño</th>

          <th>Modalidad</th>
          
          <th>Formato</th>
          
          <th>Número de formato</th>
          
          <th>Docente diseñador</th>
          
          <th>Email docente diseñador</th>
          
          <th>Teléfono docente diseñador</th>
          
          <th>Diseñador instruccional</th>
          
          <th>Correo diseñador instruccional</th>
          
          <th>Teléfono diseñador instruccional</th>
          
          <th>Responsable seguimiento</th>
          
          <th>Fecha inicio</th>
          
          <th>Fecha finalización</th>
          
          <th>Observaciones</th>

          <th>Completar</th>

          <th>Conformidad del jefe de virtualización</th>

        </tr>
  
      </ng-template>
  
      <ng-template pTemplate="body" let-validacion>
  
        <tr>

          <td>{{validacion.codigo}}</td>
          
          <td>{{validacion.asignatura}}</td>
          
          <td>{{validacion.tipo_diseno}}</td>

          <td>{{matchModalidadById(validacion.modalidad)}}</td>
          
          <td>
            {{getCurrentFormato(validacion.presencial, validacion.adistancia, validacion.semipresencial)}}
          </td>
          
          <td>{{validacion.numero_formatos}}</td>
          
          <td>{{validacion.docente_disenador}}</td>
          
          <td>{{validacion.email_docente}}</td>
          
          <td>{{validacion.telefono_docente}}</td>
          
          <td>{{validacion.disenador_instruccional}}</td>
          
          <td>{{validacion.email_docente}}</td>
          
          <td>{{validacion.telefono_docente}}</td>
          
          <td>{{validacion.responsable}}</td>
          
          <td>{{validacion.fecha_inicio}}</td>
          
          <td>{{validacion.fecha_finalizacion}}</td>
          
          <td>{{validacion.observaciones}}</td>

          <td>
            <p-button
              label="Completar"
              size="small"
              (onClick)="toggleIsSubmitValidationDialogOpen(validacion.validacion)"
            />
          </td>

          <td>
            <p-button 
              [severity]="getIsTableConfirmed() ? 'success' : 'primary'"
              [label]="getIsTableConfirmed() ? 'Confirmado' : 'Confirmar'"
              size="small" 
              (onClick)="getIsTableConfirmed() ? showAlreadyConfirmedMessage() : confirmValidacion()"
            />
          </td>
          
        </tr>
        
      </ng-template>
  
    </p-table>

  </app-card-with-skeleton>

</app-navigation-container>

<app-register-validacion-dialog
  [selectedRow]="selectedRow"
  [isDialogOpen]="isSubmitValidationDialogOpen"
  (closeDialogEmitter)="toggleIsSubmitValidationDialogOpen()"
/>
