<p-dialog 
  class="sm:w-12" 
  header="Subir Archivo de Producción General" 
  [style]="{width: '600px'}"
  [visible]="isDialogOpen" 
  [modal]="true" 
  [closable]="false"
  [draggable]="false"
>

  <input 
    #fileInput 
    type="file" 
    style="display:none"
    accept=".xlsx"
    id="load-production-general-file"
    (change)="onFileChange($event)"
  >

  <div class="v-flex pt-1">

    @if (currentFile != null) { 

      <div class="h-flex-align-center">
  
        <p-button 
          icon="pi pi-times" 
          size="small" 
          severity="danger" 
          (onClick)="removeFile()"
        />

        <span>{{ currentFile.name }}</span>
  
      </div> 
  
    } @else {
  
      <div class="h-flex-align-center">
  
        <p-button 
          label="Cargar Archivo" 
          size="small" 
          icon="pi pi-upload" 
          (onClick)="fileInput.click()"
        />

        <span>No has cargado ningún archivo</span>
  
      </div>
  
    }
  
    <div class="h-flex">
  
      <p-button
        label="Cancelar" 
        size="small" 
        severity="secondary"
        (onClick)="closeDialog()"
      />
  
      <p-button 
        label="Enviar Archivo" 
        size="small"
        (onClick)="sendFile()"
        icon="pi pi-send"
        [disabled]="currentFile == null"
      />
  
    </div>

  </div>

</p-dialog>

