<app-navigation-container>

  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <app-card-with-skeleton [isLoading]="getImplementacionByIdQuery.isLoading()">

    <h3 class="c-title fw-400">Implementación</h3>

    <p-table [value]="implementacionRows">
  
      <ng-template pTemplate="header">
  
        <tr>  

          <th>Código</th>
          
          <th>Asignatura</th>
          
          <th>Ciclo</th>

          <th>Modalidad</th>
          
          <th>Prioridad</th>
          
          <th>Responsable de Implementar</th>

          <th>Porcentaje Real</th>

          <th>Formatos</th>

          <th>Sílabo 1</th>

          <th>Sílabo 2</th>

          <th>Sílabo 3</th>

          <th>Fecha de Validación</th>

          <th>Carpeta Validado</th>

          <th>Observaciones Validador</th>

        </tr>
  
      </ng-template>
  
      <ng-template pTemplate="body" let-imp>
  
        <tr>

          <td>{{ imp.codigo }}</td>

          <td>{{ imp.asignatura }}</td>

          <td>{{ imp.ciclo }}</td>

          <td>{{ parseIdModalidad(imp.modalidad) }}</td>

          <td>-</td>

          <td class="py-2">

            <p-dropdown 
              placeholder="Seleccione" 
              [options]="responsableImplementacionOptions"
            />

          </td>

          <td></td>

          <td>{{ imp.numero_formatos }}</td>

          <td>
            <a [href]="getSilabosByIndex(0)" target="_blank">
              <p-button label="Descargar" icon="pi pi-download" size="small"/>
            </a>
          </td>

          <td>
            <a [href]="getSilabosByIndex(1)" target="_blank">
              <p-button label="Descargar" icon="pi pi-download" size="small"/>
            </a>
          </td>

          <td>
            <a [href]="getSilabosByIndex(2)" target="_blank">
              <p-button label="Descargar" icon="pi pi-download" size="small"/>
            </a>
          </td>

          <td>{{ parseDateYMDtoDMY(imp.fecha_validacion) }}</td>

          <td>{{ imp.carpeta_entregable }}</td>

          <td></td>
          
        </tr>
        
      </ng-template>
  
    </p-table>

  </app-card-with-skeleton>

</app-navigation-container>
