<p-dialog 
  class="sm:w-12"  
  header="Registro Validación"
  [style]="{width:'600px'}"
  [visible]="isDialogOpen" 
  [modal]="true" 
  [closable]="false"
  [draggable]="false"
  (onShow)="getValidacionByIdQuery.refetch()"
>

  <form class="pt-1 v-flex" [formGroup]="submitConfirmValidacionForm" (ngSubmit)="startPostCompletarValidacionMutation()">

    <div class="v-flex-low-gap">
      <label>Carpeta Entregable</label>
      <input type="text" pInputText formControlName="carpeta_entregable"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Fecha de Validación</label>
      <input type="date" pInputText formControlName="fecha_validacion"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Porcentaje Real</label>
      <input type="text" pInputText formControlName="porcentaje_real" [disabled]="true"/>
    </div>

    @if (validateCanShowFechaEnvioValidacionInput()) {
      <div class="v-flex-low-gap">
        <label>Fecha de Envío a Validación</label>
        <input type="date" pInputText formControlName="fecha_envio_validacion"/>
      </div>
    }

    <p-divider/>

    <div class="v-flex-low-gap">
      <label>Estado de Avance de Validación.</label>
      <p-dropdown 
        [options]="estadoAvanceValidacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="estado_avance_validacion"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Confirmación de Levantamiento.</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="confirmacion_levantamiento"
      />
    </div>

    @if (
      (currentFormValue.confirmacion_levantamiento?.id === 2) ||
      (currentFormValue.confirmacion_levantamiento?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Confirmación de Levantamiento</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_confirmacion_levantamiento"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Presenta la Guía de Aprendizaje.</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="presenta_guia_aprendizaje"
      />
    </div>

    @if (
      (currentFormValue.presenta_guia_aprendizaje?.id === 2) ||
      (currentFormValue.presenta_guia_aprendizaje?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Guía de Aprendizaje</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_presenta_guia_aprendizaje"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Resultados de Aprendizaje en el Guía del Estudiante</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="resultados_aprendizaje_guia_estudiante"
      />
    </div>

    @if (
      (currentFormValue.resultados_aprendizaje_guia_estudiante?.id === 2) ||
      (currentFormValue.resultados_aprendizaje_guia_estudiante?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Resultados de Aprendizaje en el Guía del Estudiante</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_resultados_aprendizaje_guia_estudiante"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Enlaces e Hipervínculos para Recursos</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="enlaces_e_hipervinculos_para_recursos"
      />
    </div>

    @if (
      (currentFormValue.enlaces_e_hipervinculos_para_recursos?.id === 2) ||
      (currentFormValue.enlaces_e_hipervinculos_para_recursos?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Enlaces e Hipervínculos para Recursos</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_enlaces_e_hipervinculos_para_recursos"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Actividades Propuestas</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="actividades_propuestas"
      />
    </div>

    @if (
      (currentFormValue.actividades_propuestas?.id === 2) ||
      (currentFormValue.actividades_propuestas?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Actividades Propuestas</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_actividades_propuestas"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Foro Formativo</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="foro_formativo"
      />
    </div>

    @if (
      (currentFormValue.foro_formativo?.id === 2) ||
      (currentFormValue.foro_formativo?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Foro Formativo</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_foro_formativo"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Objectos de Aprendizaje</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="objetos_aprendizaje"
      />
    </div>

    @if (
      (currentFormValue.objetos_aprendizaje?.id === 2) ||
      (currentFormValue.objetos_aprendizaje?.id === 4)
    ) {
      <div class="v-flex-low-gap">
        <label>Observación Objectos de Aprendizaje</label>
        <input 
          pInputText 
          type="text" 
          formControlName="observacion_objetos_aprendizaje"
        />
      </div>
    }

    <div class="v-flex-low-gap">
      <label>Pasa a Implementación</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="pasa_implementacion"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Observaciones Validador</label>
      <input type="text" pInputText formControlName="observaciones_validador"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Observación SCORM</label>
      <input type="text" pInputText formControlName="observacion_scorm"/>
    </div>

    <div class="h-flex">

      <p-button
        size="small"
        label="Cancelar"
        severity="secondary"
        (onClick)="closeAndCleanDialog()"
      />

      <p-button
        size="small"
        label="Guardar"
        type="submit"
      />

    </div>

  </form>

</p-dialog>