<p-dialog 
  class="sm:w-12"  
  header="Registro Validación"
  [style]="{width:'600px'}"
  [visible]="isDialogOpen" 
  [modal]="true" 
  [closable]="false"
  [draggable]="false"
>

 <form class="pt-1 v-flex" [formGroup]="submitValidacionForm">

    <div class="v-flex-low-gap">
      <label>Fecha de Envío a Validación</label>
      <input type="date" pInputText formControlName="fecha_envio_validacion"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Porcentaje Real</label>
      <input type="text" pInputText formControlName="porcentaje_real"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Carpeta Entregable</label>
      <input type="text" pInputText formControlName="carpeta_entregable"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Fecha de Validación</label>
      <input type="text" pInputText formControlName="fecha_validacion"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Estado de Avance de Validación.</label>
      <p-dropdown 
        [options]="estadoAvanceValidacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="estado_avance_validacion"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Confirmación de Levantamiento de Observaciones.</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="confirmacion_levantamiento_observaciones"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Presenta la Guía de Aprendizaje.</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="presenta_guia_aprendizaje"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Resultados de Aprendizaje en el Guía del Estudiante</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="resultados_aprendizaje_guia_estudiante"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Enlaces e Hipervínculos para que los Recursos Funcionen</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="enlaces_e_hipervinculos_para_recursos"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Actividades Propuestas</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="actividades_propuestas"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Foro Formativo</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="foro_formativo"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Objectos de Aprendizaje</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="objetos_aprendizaje"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Observaciones Validador</label>
      <input type="text" pInputText formControlName="observaciones_validador"/>
    </div>

    <div class="v-flex-low-gap">
      <label>Pasa a Implementación</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="pasa_implementacion"
      />
    </div>

    <div class="v-flex-low-gap">
      <label>Observación SCORM</label>
      <p-dropdown 
        [options]="siNoObservacionOptions" 
        placeholder="Seleccione" 
        [style]="{'width':'100%'}"
        optionLabel="label"
        formControlName="observacion_scorm"
      />
    </div>

    <div class="h-flex">

      <p-button
        size="small"
        label="Cancelar"
        severity="secondary"
        (onClick)="closeAndCleanDialog()"
      />

      <p-button
        size="small"
        label="Guardar"
      />

    </div>

 </form>


</p-dialog>