<div class="login-background">

  <div class="login-background-padding">

    <div class="grid">

      <div class="sm:hidden md:flex md:col-6">
        
        <div class="logo-container">

          <img src="/assets/u-continental.svg" alt="" class="login-logo">

        </div>

      </div>

      <div class="sm:col-12 md:col-6">

        <div class="form-container">

          <h2 style="color: white">Iniciar Sesión</h2>
  
          <input pInputText type="text" class="p-inputtext-sm sm:w-8 lg:w-6" placeholder="Correo"/>
        
          <input pInputText type="password" class="p-inputtext-sm sm:w-8 lg:w-6" placeholder="Contraseña" />
  
          <p-button label="Iniciar Sesión" size="small" severity="secondary"/>

        </div>
  
      </div>

    </div>

  </div>

</div>