<app-navigation-container>

  <div class="grid">

    <div class="sm:col-12 md:col-8 lg:col-6">

      <div class="v-flex">

        <h3 class="title-color">Registro de Usuarios</h3>

        <input type="text" placeholder="Nombres" pInputText />

        <input type="text" placeholder="Apellidos" pInputText />

        <input type="text" placeholder="Correo Institucional" pInputText />

        <input type="text" placeholder="Correo Personal" pInputText />

        <input type="text" placeholder="Número de Contacto" pInputText />

        <input type="text" placeholder="Rol" pInputText />

        <p-button label="Registrar" size="small"></p-button>

      </div>

    </div>

  </div>

</app-navigation-container>
