<app-navigation-container>

  <div class="grid">

    <div class="sm:col-12 md:col-8 lg:col-6">

      <app-card-with-skeleton>

        <form class="v-flex" [formGroup]="registerUserForm" (ngSubmit)="onSubmitUser()">

          <h3 class="title-color">Registro de Usuarios</h3>
  
          <input 
            type="text" 
            placeholder="Nombres" 
            pInputText 
            formControlName="nombres"
          />
  
          <input 
            type="text" 
            placeholder="Apellidos" 
            pInputText 
            formControlName="apellidos"
          />
  
          <input 
            type="text" 
            placeholder="Correo Institucional" 
            pInputText 
            formControlName="correoInst"
          />
  
          <input 
            type="text" 
            placeholder="Correo Personal" 
            pInputText 
            formControlName="correoPers"
          />
  
          <input 
            type="text" 
            placeholder="Contraseña" 
            pInputText 
            formControlName="contrasena"
          />
  
          <p-dropdown 
            formControlName="rol" 
            [options]="[]"
            placeholder="Selecciona un Rol"
            [style]="{'width':'100%'}"
          />
  
          <div class="h-flex">
  
            <p-button 
              label="Cancelar" 
              size="small" 
              severity="secondary"
              (onClick)="onRedirectToUsersTable()"
            />
              
            <p-button 
              label="Registrar" 
              size="small"
              type="submit"
            />
  
          </div>
  
        </form>

      </app-card-with-skeleton>

    </div>

  </div>

</app-navigation-container>
