<app-navigation-container>

  <div class="grid">

    <div class="sm:col-12 md:col-8 lg:col-6">

      <app-card-with-skeleton>

        <form class="v-flex" [formGroup]="registerUserForm" (ngSubmit)="startSubmitUser()">

          <h3 class="c-title">{{ currentId === '0' ? 'Registro de Usuario' : 'Editar Usuario' }}</h3>

          <div class="v-flex-low-gap">

            <label>Nombres</label>
  
            <input 
              type="text" 
              placeholder="Nombres" 
              pInputText 
              formControlName="nombres"
            />

          </div>

          <div class="v-flex-low-gap">

            <label>Apellidos</label>

            <input 
              type="text" 
              placeholder="Apellidos" 
              pInputText 
              formControlName="apellidos"
            />

          </div>

          <div class="v-flex-low-gap">

            <label>Correo Institucional</label>
    
            <input 
              type="email" 
              placeholder="Correo Institucional" 
              pInputText 
              formControlName="correoInst"
            />

          </div>

          <div class="v-flex-low-gap">

            <label>Correo Personal</label>
  
            <input 
              type="email" 
              placeholder="Correo Personal" 
              pInputText 
              formControlName="correoPers"
            />

          </div>

          <div class="v-flex-low-gap">

            <label>Documento Identidad</label>
  
            <input  
              type="number"
              placeholder="Documento Identidad" 
              pInputText 
              formControlName="documento_identidad"
            />

          </div>
  
          @if (currentId === '0') {

            <div class="v-flex-low-gap">
  
              <label>Contraseña</label>
  
              <input 
                [type]="!isPasswordVisible ? 'text' : 'password'"
                placeholder="Contraseña" 
                pInputText 
                formControlName="contrasena"
              />
  
              <div class="h-flex-align-center-low-gap">
                
                <p-checkbox 
                  [binary]="true"
                  [value]="isPasswordVisible"
                  (onChange)="togglePasswordVisibility()"
                />
  
                <label>¿Es la contraseña visible?</label>
  
              </div>
            
            </div>

          }

          <div class="v-flex-low-gap">

            <label>Rol</label>
  
            <p-dropdown 
              formControlName="rol" 
              [options]="getRolesOptions()"
              placeholder="Selecciona un Rol"
              [style]="{'width':'100%'}"
            />

          </div>
  
          <div class="h-flex">
  
            <p-button 
              label="Cancelar" 
              size="small" 
              severity="secondary"
              (onClick)="redirectToUsersTable()"
            />
              
            <p-button 
              [label]="(currentId === '0') ? 'Registrar' : 'Editar'"
              size="small"
              type="submit"
              [disabled]="!registerUserForm.valid"
            />
  
          </div>
  
        </form>

      </app-card-with-skeleton>

    </div>

  </div>

</app-navigation-container>
