<app-navigation-container>

  <h3 class="title-color">Creación de Carpetas</h3>

  <form class="grid" [formGroup]="registerCarpetaForm">

    <div class="sm:col-12 md:col-6 v-flex">
      
      <label for="sc-modalidad">Modalidad</label>

      <p-dropdown
        id="sc-modalidad"
        formControlName="modalidad"
        [options]="modalidadOptions"
        placeholder="Modalidad"
        [style]="{ width: '100%' }"
      />

      <hr/>

      <h4 class="title-color">Formato</h4>

      @if ( 
        this.registerCarpetaForm.value.modalidad.id === 1 ||
        this.registerCarpetaForm.value.modalidad.id === 4 ||
        this.registerCarpetaForm.value.modalidad.id === 6 ||
        this.registerCarpetaForm.value.modalidad.id === 7 
      ) {

        <label for="sc-formato-presencial">Presencial</label>

        <p-dropdown
          id="sc-formato-presencial"
          formControlName="formato_presencial"
          [options]="presencialOptions"
          [style]="{ width: '100%' }"
        />
      } 
      
      @if ( 
        this.registerCarpetaForm.value.modalidad.id === 2 ||
        this.registerCarpetaForm.value.modalidad.id === 5 ||
        this.registerCarpetaForm.value.modalidad.id === 6 ||
        this.registerCarpetaForm.value.modalidad.id === 7 
      ) {

        <label for="sc-formato-semipresencial">Semipresencial</label>

        <p-dropdown
          id="sc-formato-presencial"
          formControlName="formato_semipresencial"
          [options]="semipresencialOptions"
          [style]="{ width: '100%' }"
        />

      } 
      
      @if ( 
        this.registerCarpetaForm.value.modalidad.id === 3 ||
        this.registerCarpetaForm.value.modalidad.id === 4 ||
        this.registerCarpetaForm.value.modalidad.id === 5 ||
        this.registerCarpetaForm.value.modalidad.id === 7 
      ) {

        <label for="sc-formato-a-distancia">A Distancia</label>

        <p-dropdown
          id="sc-formato-a-distancia"
          formControlName="form_distancia"
          [options]="aDistanciaOptions"
          [style]="{ width: '100%' }"
        />
      }

    </div>
  </form>

  <p-button size="small" label="Registrar" />
</app-navigation-container>
