<app-navigation-container>
  
  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <app-card-with-skeleton>

    <h3 class="c-title">Filtros</h3>

    <form class="h-flex" [formGroup]="filterFormGroup!">

      <div class="v-flex-low-gap v-flex w-full">
        <label>Código</label>
        <input
          pInputText
          formControlName="codigo" 
          type="text" 
        />
      </div>

      <div class="v-flex-low-gap v-flex w-full">
        <label>Asignatura</label>
        <input 
          pInputText
          formControlName="asignatura" 
          type="text" 
        />
      </div>

      <div class="v-flex-low-gap v-flex w-full">
        <label>Docente Diseñador</label>
        <input 
          pInputText
          formControlName="docente_disenador" 
          type="text" 
        />
      </div>

      <div class="v-flex-low-gap v-flex w-full">
        <label>Facultades</label>
        <p-dropdown 
          formControlName="selectedFacultad" 
          [options]="parseFacultadesOptions()" 
          optionLabel="label"
          placeholder="Selecciona una Facultad"
          [style]="{'width': '100%'}"
        />
      </div>

    </form>

  </app-card-with-skeleton>

  <app-card-with-skeleton>

    <h3 class="c-title">Reportes</h3>

    @if (getFilteredReportRows().length === 0) {

      <p-message 
        severity="warn" 
        text="No cuentas con reportes de esta facultad" 
        [style]="{'width': '100%'}"
      />

    }

    <p-table [value]="getFilteredReportRows()">
  
      <ng-template pTemplate="header">
  
        <tr>

          <th>Codigo</th>

          <th>Asignatura</th>

          <th>Modalidad</th>

          <th>Formato</th>

          <th>Docente Diseñador</th>

          <th>Facultad</th>

          <th>Fecha Inicio</th>

          <th>Porcentaje Real</th>

        </tr>
  
      </ng-template>

      <ng-template pTemplate="body" let-produccion>
  
        <tr>

          <td>
            {{ produccion.codigo }}
          </td>

          <td>
            {{ produccion.asignatura }}
          </td>

          <td>
            {{ matchIdModalidad(produccion.modalidad) }}
          </td>

          <td>
            {{ matchFormato(produccion.formato) }}
          </td>

          <td>
            {{ produccion.docente_disenador }}
          </td>

          <td>
            {{ matchIdFacultad(produccion.facultad) }}
          </td>

          <td>
            {{ parseInitDate(produccion.fecha_inicio) }}
          </td>

          <td>
            94%
            <!-- {{ calculatePorcentajeReal(produccion.id) }} -->
          </td>

        </tr>
        
      </ng-template>

    </p-table>

  </app-card-with-skeleton>

  <div class="grid">

    <div class="col-12 md:col-6">

      <app-card-with-skeleton>
  
        <h3 class="c-title">Porcentaje de Modalidades</h3>
  
        <p-chart 
          type="pie" 
          [data]="pieData" 
          [options]="pieOptions"
          height="340px"
        />
  
      </app-card-with-skeleton>

    </div>

    <div class="col-12 md:col-6">

      <app-card-with-skeleton>
    
        <h3 class="c-title">Porcentaje de Avance</h3>
    
        <p-chart 
          type="bar" 
          [data]="barData" 
          [options]="barOptions"
          height="340px"
        />
    
      </app-card-with-skeleton>

    </div> 

  </div>

</app-navigation-container>