<app-navigation-container>

  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <div class="grid">

    <div class="md:col-8">

      <app-card-with-skeleton>

        <div class="v-flex">

          <h3 class="c-title fw-400">Registro de Producción General</h3>
      
          <form 
            [formGroup]="registerProduccionGeneralForm"
            class="v-flex"
            (ngSubmit)="submitPutProduccionGeneral()"
          >
      
            <div class="v-flex">

              <!--  -->
      
              <div class="grid">

                <div class="col-12 md:col-6 v-flex">

                  <label for="codigo">Código</label>
        
                  <input 
                    pInputText  
                    formControlName="codigo" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>
        
                <div class="col-12 md:col-6 v-flex">
  
                  <label>Plan</label>
        
                  <input 
                    pInputText  
                    formControlName="plan" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>
        
                <div class="col-12 md:col-6">
  
                  <div class="v-flex">
  
                    <label>Eap</label>
        
                    <p-dropdown
                      [options]="getEapOptions()" 
                      formControlName="eap" 
                      [showClear]="true"
                      [style]="{'width':'100%'}"
                      placeholder="Seleccione una EAP"
                    />

                  </div>
  
                </div>
  
                <div class="col-12 md:col-6 v-flex">
  
                  <label for="codigo">Asignatura</label>
        
                  <input 
                    pInputText  
                    formControlName="asignatura" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>
        
                <div class="col-12 md:col-6 v-flex">
  
                  <label>Tipo Asignatura</label>
        
                  <input
                    pInputText 
                    formControlName="tipo_asignatura" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>
  
                <div class="col-12 md:col-6 v-flex">
  
                  <label>Número Formatos</label>
        
                  <input 
                    pInputText
                    formControlName="numero_formatos" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>
      
                <div class="col-12 md:col-6 v-flex">
  
                  <label>Situación de la Asignatura</label>
        
                  <input 
                    pInputText
                    formControlName="situacion_asignatura" 
                    [style]="{'width':'100%'}"
                  />
  
                </div>

                <div class="col-12 md:col-6 ">
  
                  <div class="v-flex">

                    <label>Tipo de Diseño</label>
        
                    <p-dropdown 
                      [options]="getTipoDisenoOptions()" 
                      formControlName="tipo_diseno" 
                      [showClear]="true"
                      [style]="{'width':'100%'}"
                      placeholder="Seleccione un Tipo de Diseño"
                    />

                  </div>

                </div>

              </div>

              <!--  -->
      
              <p-divider/>

              <div class="grid">

                <div class="col-6">

                  <div class="v-flex">

                    <h3 class="c-title">Modalidad</h3>

                    <span>
                      {{ currentModalidadName }}
                    </span>

                  </div>

                </div>

                <div class="col-6">

                  <div class="v-flex">

                    <h3 class="c-title">Formato</h3>

                    @if (
                      currentModalidad === '1' || 
                      currentModalidad === '4'
                    ) {

                      <div class="h-flex-align-center">

                        <label>Presencial</label>

                        <p-button 
                          label="Cargar" 
                          size="small" 
                          severity="secondary"
                          (onClick)="toggleIsRegisterPeriodoGeneralDialogOpen('1', 'Presencial')"
                        />

                      </div>

                    } 
                    
                    @if (currentModalidad === '2') {

                      <div class="h-flex-align-center">

                        <label>Semipresencial</label>
                        
                        <p-button 
                          label="Cargar" 
                          size="small" 
                          severity="secondary"
                          (onClick)="toggleIsRegisterPeriodoGeneralDialogOpen('2', 'Semipresencial')"
                        />

                      </div>

                    } 

                    @else if (currentModalidad === '3' || currentModalidad === '4') {

                      <div class="h-flex-align-center">

                        <label>A Distancia</label>
                        
                        <p-button 
                          label="Cargar" 
                          size="small" 
                          severity="secondary"
                          (onClick)="toggleIsRegisterPeriodoGeneralDialogOpen('3', 'A Distancia')"
                        />

                      </div>

                    }


                  </div>
  
                </div>

              </div>

              <!--  -->

              <p-divider/>

              <!--  -->
      
              <div class="grid">
      
                <div class="md:col-6 v-flex">
      
                  <label>Fecha de Inicio</label>
      
                  <input 
                    pInputText  
                    formControlName="fecha_inicio" 
                    [style]="{'width':'100%'}"
                    type="date"
                  />
      
                  <label>Fecha Programada de Finalización</label>
      
                  <input 
                    pInputText 
                    formControlName="fecha_programada" 
                    [style]="{'width':'100%'}"
                    type="date"
                  />
      
                </div>
      
                <div class="md:col-6 v-flex">
      
                  <label>Tiempo Programado de Diseño</label>
          
                  <input 
                    pInputText  
                    formControlName="tiempo_programado" 
                    [style]="{'width':'100%'}"
                  />
          
                </div>

                <div class="col-12">

                  <div class="v-flex">

                    <div class="h-flex-justify-between-align-center">

                      <label>Sílabos</label>
  
                      <p-button 
                        label="Cargar Sílabo" 
                        size="small"
                        icon="pi pi-upload"
                        (onClick)="toggleIsUploadSilaboDialogOpen()"
                        [disabled]="silabosInThisPeriodoGeneral.length >= 3"
                      />
  
                    </div>

                    @if (silabosInThisPeriodoGeneral.length >= 3) {
  
                      <p-message 
                        severity="warn"
                        text="Has cargado el máximo de sílabos permitidos"
                        [style]="{'width':'100%'}"
                      />
  
                    } @else if (silabosInThisPeriodoGeneral.length === 0) {

                      <p-message 
                        severity="info"
                        text="No has cargado ningún sílabo"
                        [style]="{'width':'100%'}"
                      />

                    }
  
                    @for (silabo of silabosInThisPeriodoGeneral; track silabo.id) {

                      <div class="h-flex-justify-between-align-center">
  
                        <div class="v-flex-no-gap">
                          <span class="c-gray">Subido: {{ formatDate(silabo.created_at) }}</span>
                        </div>
  
                        <a [href]="silabo.ruta_archivo" target="_blank">
                          <p-button 
                            label="Ver" 
                            size="small"
                            icon="pi pi-eye"
                          />
                        </a>
  
                      </div>

                    }

                  </div>

                </div>
      
              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="grid">
        
                <div class="md:col-6 v-flex">
        
                  <label>Asesor Didáctico</label>
        
                  <input 
                    pInputText
                    formControlName="asesor" 
                  />
        
                  <label>Correo Asesor Didactico</label>
        
                  <input
                    pInputText
                    formControlName="correo_asesor" 
                  />
        
                </div>
        
                <div class="md:col-6 v-flex">
        
                  <label>Teléfono Asesor Didactico</label>
        
                  <input 
                    pInputText 
                    type="text"  
                    formControlName="telefono_asesor" 
                    [style]="{'width':'100%'}"
                  />
        
                </div>
        
              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="v-flex">

                <label>Decano Director Cámara</label>
      
                <input 
                  pInputText
                  formControlName="decano" 
                />
        
                <label>Correo Decano Director Cámara</label>
        
                <input
                  pInputText
                  formControlName="correo_decano"
                />

              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="grid">
      
                <div class="md:col-6 v-flex">
      
                  <label>Docente Diseñador</label>
      
                  <input
                    pInputText
                    formControlName="docente_disenador" 
                  />
      
                  <label>Email Docente Diseñador</label>
      
                  <input
                    pInputText
                    formControlName="email_docente" 
                  />
      
                  <label>Procedencia Docente Diseñador</label>
      
                  <input
                    pInputText
                    formControlName="procedencia" 
                  />
      
                </div>
      
                <div class="md:col-6 v-flex">
      
                  <label>Observaciones de Designación Diseñador</label>
      
                  <input
                    pInputText
                    formControlName="observacion_designacion" 
                  />
      
                  <label>Teléfono Docente Diseñador</label>
      
                  <input
                    pInputText
                    formControlName="telefono_docente" 
                  />
      
                  <label>Designación Docente</label>
      
                  <input
                    pInputText
                    formControlName="designacion" 
                    [style]="{'width':'100%'}"
                  />
      
                </div>
      
              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="grid">
      
                <div class="md:col-6 v-flex">
      
                  <label>Diseñador Instruccional</label>
      
                  <input
                    pInputText
                    formControlName="disenador_instruccional" 
                  />
      
                  <label>Correo Instruccional</label>
      
                  <input
                    pInputText
                    formControlName="correo_instruccional" 
                  />
      
                </div>
      
                <div class="md:col-6 v-flex">
      
                  <label>Teléfono Diseñador Instruccional</label>
        
                  <input
                    pInputText
                    formControlName="telefono_instruccional" 
                  />
        
                </div>
      
              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="grid">
      
                <div class="md:col-6 v-flex">
      
                  <label>Responsable de Seguimiento</label>
      
                  <input
                    pInputText
                    formControlName="responsable" 
                  />
      
                  <label>Carpeta Entregable</label>
      
                  <input
                    pInputText
                    formControlName="carpeta_entregable" 
                  />
      
                </div>
      
                <div class="md:col-6 v-flex">
      
                  <label>Video Presentación</label>
      
                  <input
                    pInputText
                    formControlName="video_presentacion" 
                  />
      
                </div>
      
              </div>

              <!--  -->
              
              <p-divider/>

              <!--  -->
      
              <div class="v-flex">

                <h3 class="c-title">Método por Unidad</h3>
      
                <div class="grid">
        
                  <div class="md:col-6 v-flex">
        
                    <label>Producto Académico Colaborativo</label>
        
                    <input 
                      pInputText
                      formControlName="colaborativo" 
                    />
        
                    <label>Simulador</label>
        
                    <input 
                      pInputText
                      formControlName="simulador" 
                    />
        
                    <label>Unidad 1</label>
        
                    <input 
                      pInputText
                      formControlName="unidad1" 
                    />
        
                  </div>
        
                  <div class="md:col-6 v-flex">
        
                    <label>Unidad 2</label>
        
                    <input 
                      pInputText
                      formControlName="unidad2" 
                    />
        
                    <label>Unidad 3</label>
        
                    <input 
                      pInputText
                      formControlName="unidad3" 
                    />
        
                    <label>Unidad 4</label>
        
                    <input 
                      pInputText
                      formControlName="unidad4" 
                    />
        
                  </div>
        
                </div>

              </div>

              <!--  -->
      
              <p-divider/>

              <!--  -->
      
              <div class="grid">
      
                <div class="md:col-6 v-flex">
      
                  <label>Fecha de Presentación de DI</label>
      
                  <input
                    pInputText
                    formControlName="fecha_presentacion_di" 
                    type="date"
                  />
      
                  <label>Fecha de Finalización</label>
      
                  <input
                    pInputText
                    formControlName="fecha_finalizacion" 
                    type="date"
                  />
      
                </div>
      
                <div class="md:col-6 v-flex">
      
                  <label>Observaciones</label>
      
                  <input
                    pInputText
                    formControlName="observaciones" 
                  />
      
                  <label>Correo de Finalización del Diseño</label>
      
                  <input
                    pInputText
                    formControlName="correo_finalizacion" 
                    [style]="{'width':'100%'}"
                  />
      
                </div>
      
              </div>

              <!--  -->
      
            </div>

            <div class="h-flex">

              <p-button
                label="Cancelar"
                size="small"
                (onClick)="redirectToProduccionGeneral()"
                severity="secondary"
              />
            
              <p-button 
                label="Guardar" 
                size="small" 
                type="submit"
              />
      
            </div>
      
          </form>
      
        </div>

      </app-card-with-skeleton>

    </div>

  </div>

</app-navigation-container>

<!-- Input en el dialog, Vars en la pantalla -->
<!-- Emitter en el dialog, Toggle en la pantalla -->
<app-register-periodo-general-dialog 
  [allFormatosFromModalidad]="allFormatosFromModalidad"
  [currentInitDate]="currentInitDate"
  [currentModalidad]="currentModalidad"
  [currentFormato]="currentFormato"
  [currentFormatoName]="currentFormatoName"
  [isDialogOpen]="isRegisterPeriodoGeneralDialogOpen"
  (closeDialogEmitter)="toggleIsRegisterPeriodoGeneralDialogOpen()"
/>

<app-upload-silabo-dialog
  [isDialogOpen]="isUploadSilaboDialogOpen"
  (closeDialogEmitter)="toggleIsUploadSilaboDialogOpen()"
/>