<p-dialog 
  class="sm:w-12"
  header="Formato - {{ currentFormatoName }}"
  [style]="{width: '600px'}"
  [visible]="isDialogOpen"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  (onShow)="getMetodoQuery.refetch()"
>

  <form class="v-flex" [formGroup]="formatoForm" (ngSubmit)="startSubmitMetodo()">

    <h3 class="c-title">Presencial</h3>

    <label>Horas Asíncronas</label>

    <input 
      pInputText 
      formControlName="horas_asincronas"
    />

    <label>Horas Síncronas</label>

    <input 
      class="mb-2" 
      pInputText 
      formControlName="horas_sincronas"
    />

    <h3>Introducción</h3>

    <label>Evaluación de Entrada</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="intro_evaluacion_entrada"
      optionLabel="label"
    />

    <label>Hoja Calendario</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      class="mb-2"
      formControlName="intro_hoja_calendario"
      optionLabel="label"
    />

    <label>Lecturas</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      class="mb-2"
      formControlName="lecturas"
      optionLabel="label"
    />

    <h3>Unidad 1</h3>

    <label>Autoevaluaciones</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u1_autoevaluaciones"
      optionLabel="label"
    />

    <label>PPT-Objecto de Aprendizaje / Tutorial</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u1_ppt"
      optionLabel="label"
    />

    <label>Guía</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u1_guia"
      optionLabel="label"
    />

    <label>PA1</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u1_pa1"
      optionLabel="label"
    />

    <label>Recurso Innovador</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u1_recurso_innovador"
      optionLabel="label"
    />

    <h3>Unidad 2</h3>

    <label>Autoevaluaciones</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u2_autoevaluaciones"
      optionLabel="label"
    />

    <label>PPT-Objecto de Aprendizaje / Tutorial</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u2_ppt"
      optionLabel="label"
    />

    <label>Guía</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione"
      [style]="{'width':'100%'}"
      formControlName="u2_guia"
      optionLabel="label"
    />

    <label>PA2</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u2_pa2"
      optionLabel="label"
    />

    <label>Recurso Innovador</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      class="mb-2"
      formControlName="u2_recurso_innovador"
      optionLabel="label"
    />

    <h3>Unidad 3</h3>

    <label>Autoevaluaciones</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u3_autoevaluaciones"
      optionLabel="label"
    />

    <label>PPT-Objecto de Aprendizaje / Tutorial</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u3_ppt"
      optionLabel="label"
    />

    <label>Guía</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u3_guia"
      optionLabel="label"
    />

    <label>PA3</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u3_pa3"
      optionLabel="label"
    />

    <label>Recurso Innovador</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      class="mb-2"
      formControlName="u3_recurso_innovador"
      optionLabel="label"
    />

    <h3>Unidad 4</h3>

    <label>Autoevaluaciones</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u4_autoevaluaciones"
      optionLabel="label"
    />

    <label>PPT-Objecto de Aprendizaje / Tutorial</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u4_ppt"
      optionLabel="label"
    />

    <label>Guía</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u4_guia"
      optionLabel="label"
    />

    <label>PA4</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      formControlName="u4_pa4"
      optionLabel="label"
    />

    <label>Recurso Innovador</label>

    <p-dropdown 
      [options]="ratingOptions" 
      placeholder="Seleccione" 
      [style]="{'width':'100%'}"
      class="mb-2"
      formControlName="u4_recurso_innovador"
      optionLabel="label"
    />

    <div class="h-flex">

      <p-button 
        label="Cancelar" 
        (onClick)="closeRegister()"
        size="small"
        severity="secondary"
      />

      <p-button 
        label="Guardar" 
        size="small"
        type="submit"
        [disabled]="!formatoForm.valid"
      />

    </div>

  </form>

</p-dialog>
