<app-navigation-container>

  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <app-card-with-skeleton>

    <div class="v-flex pt-1">

      <input 
        multiple
        #fileInput 
        type="file" 
        style="display:none"
        accept=".xlsx"
        id="load-production-general-file"
        (change)="onFileChange($event)"
      >
  
      @if (selectedBreadcrumbItem.length > 0) {

        <p-breadcrumb 
          [model]="selectedBreadcrumbItem"
          class="max-w-full"
        />

      }
  
      <div class="border-gray-container v-flex">
  
        @if (currentAsignatura === null) {
  
          <span class="text-gray-500">Selecciona una asignatura</span>
  
          <div class="flex-wrap">

            @for (opt of asignaturaOptions; track $index) {
              <p-button 
                [label]="opt"
                size="small"
                (onClick)="setCurrentAsignatura(opt)"
                icon="pi pi-folder"
              />
            }

          </div>
  
        }
  
        @else if (currentModalidad === null) {
  
          <span class="text-gray-500">Selecciona una modalidad</span>

          <div class="flex-wrap">

            @for (opt of modalidadOptions; track $index) {

              <p-button 
                [label]="opt"
                size="small"
                (onClick)="setCurrentModalidad(opt)"
                icon="pi pi-folder"
              />
  
            }

          </div>        
  
        }
  
        @else if (currentFormato === null) {
  
          <span class="text-gray-500">Selecciona un formato</span>
  
          <div class="flex-wrap">

            @for (opt of formatoOptions; track $index) {
  
              <p-button 
                [label]="opt"
                size="small"
                (onClick)="setCurrentFormato(opt)"
                icon="pi pi-folder"
              />

            }

            <p-button 
              label="Validados"
              size="small"
              (onClick)="setCurrentFormato('Validados')"
              severity="success"
              icon="pi pi-folder"
            />
  
          </div>
  
        }
  
        @else if (currentUnidad === null) {
  
          <span class="text-gray-500">Selecciona una unidad</span>
  
          <div class="flex-wrap">
  
            @for (opt of unidadOptions; track $index) {
  
              <p-button 
                [label]="opt"
                size="small"
                (onClick)="setCurrentUnidad(opt)"
                icon="pi pi-folder"
              />
  
            }
  
          </div>
        
        } 
  
        @else () {
  
          <span class="text-gray-500">Selecciona un archivo</span>
  
          <div class="h-flex">
  
            <p-button 
              label="Selecciona Archivos"
              size="small"
              icon="pi pi-upload"
              (onClick)="fileInput.click()"
            />
  
            @if (currentFiles.length > 0) {
  
              <p-button
                label="Limpiar"
                size="small"
                severity="danger"
                icon="pi pi-times"
                (onClick)="clearCurrentFile()"
              />
  
            }
            
          </div>

          @if (currentFiles.length > 0) {

            <span class="c-title pt-2">Archivos Cargados</span>

            <div class="v-flex-low-gap">

              @for (route of currentFiles; track $index) {
  
                <span>{{ route.name }}</span>
  
              }
  
            </div>

          }

        }
  
      </div>
  
      <div class="h-flex">
  
        <p-button 
          label="Cancelar" 
          size="small" 
          severity="secondary"
          (onClick)="redirectToProduccionGeneral()"/>
    
        <p-button 
          label="Guardar" 
          size="small"/>
    
      </div>
      
    </div>

  </app-card-with-skeleton>
  
</app-navigation-container>
