<p-dialog 
  (onShow)="onShow()"
  class="sm:w-12" 
  [header]="isPostRequest ? 'Registrar Periodo' : 'Editar Periodo'"
  [style]="{width: '600px'}"
  [visible]="isRegisterOpen" 
  [modal]="true" 
  [closable]="false"
  [draggable]="false"
>

  <form 
    class="v-flex mt-1" 
    [formGroup]="submitPeriodoForm" 
    (ngSubmit)="startSubmitPeriodo()"
  >

    <input 
      type="text" 
      placeholder="Nombre del Periodo"
      formControlName="nombre"
      pInputText
    />

    <input 
      type="text" 
      placeholder="Código"
      formControlName="codigo"
      pInputText
    />

    <div class="h-flex">

      <p-button 
        label="Cancelar" 
        size="small" 
        severity="secondary" 
        (onClick)="closeRegister()"
      />

      <p-button 
        label="Registrar" 
        size="small"
        type="submit"
      />
      
    </div>

  </form>
  
</p-dialog>
