<app-navigation-container>

  <app-card-with-skeleton>

    <div class="v-flex">

      <h3 class="c-title fw-400">
        Registro de Solicitud de Diseño de Curso
      </h3>

      <form [formGroup]="registerRequestForm" (ngSubmit)="onSubmitSolicitudDiseno()" class="grid">

        <div class="col-12 md:col-6 v-flex">
    
          <input 
            pInputText 
            type="text"  
            placeholder="Código"
            formControlName="codigo" 
          />
    
          <input 
            pInputText 
            type="text" 
            placeholder="Asignatura"
            formControlName="asignatura" 
          />
    
          <p-dropdown 
            formControlName="eap" 
            placeholder="Eap"
            [style]="{'width':'100%'}"
            [options]="eapOptions"
          />
    
          <p-dropdown 
            formControlName="plan" 
            placeholder="Plan"
            [style]="{'width':'100%'}"
            [options]="planOptions"
          />
    
          <p-dropdown 
            formControlName="tipo_asignatura" 
            placeholder="Tipo de Asignatura"
            [style]="{'width':'100%'}"
            [options]="tipoAsignaturaOptions"
          />
    
        </div>

        <div class="col-12 md:col-6 v-flex">

          <p-dropdown 
            formControlName="tipo_diseno" 
            placeholder="Tipo de Diseño"
            [style]="{'width':'100%'}"
            [options]="tipoDisenoOptions"
          />

          <p-dropdown 
            formControlName="facultad" 
            placeholder="Facultad"
            [style]="{'width':'100%'}"
            [options]="facultadOptions"
          />
    
          <input
            pInputText 
            formControlName="docente_diseñador" 
            placeholder="Docente Diseñador"
            [style]="{'width':'100%'}"
          />

          <p-dropdown 
            formControlName="modalidad" 
            placeholder="Modalidad"
            [options]="modalidadOptions"
            [style]="{'width':'100%'}"
          />
    
        </div>

        <div class="col-12">
          
          <p-button 
            label="Registrar"
            size="small"
            type="submit"
          />

        </div>

      </form>
      
    </div>

  </app-card-with-skeleton>

  <app-card-with-skeleton>

    <h3 class="c-title">Formato</h3>

    @if (this.registerRequestForm.value.modalidad?.id === 0) {

      <p-message 
        severity="warn"
        text="Seleccione el formato de acuerdo a la modalidad"
        [style]="{'width':'100%'}"
      />

    }

    <div class="grid">

      @if ( 
        this.registerRequestForm.value.modalidad?.id === 1 ||
        this.registerRequestForm.value.modalidad?.id === 4 ||
        this.registerRequestForm.value.modalidad?.id === 6 ||
        this.registerRequestForm.value.modalidad?.id === 7 
      ) {

        <div class="col-12 md:col-4 v-flex">

          <label for="sc-formato-presencial">Presencial</label>

          <p-dropdown
            id="sc-formato-presencial"
            formControlName="formato_presencial"
            [options]="presencialOptions"
            [style]="{ width: '100%' }"
          />

        </div>
      }

      @if ( 
        this.registerRequestForm.value.modalidad?.id === 2 ||
        this.registerRequestForm.value.modalidad?.id === 5 ||
        this.registerRequestForm.value.modalidad?.id === 6 ||
        this.registerRequestForm.value.modalidad?.id === 7 
      ) {

        <div class="col-12 md:col-4 v-flex">

          <label for="sc-formato-semipresencial">Semipresencial</label>

          <p-dropdown
            id="sc-formato-presencial"
            formControlName="formato_semipresencial"
            [options]="semipresencialOptions"
            [style]="{ width: '100%' }"
          />

        </div>

      } 

      @if ( 
        this.registerRequestForm.value.modalidad === 3 ||
        this.registerRequestForm.value.modalidad === 4 ||
        this.registerRequestForm.value.modalidad === 5 ||
        this.registerRequestForm.value.modalidad === 7 
      ) {

        <div class="col-12 md:col-4 v-flex">

          <label for="sc-formato-a-distancia">A Distancia</label>

          <p-dropdown
            id="sc-formato-a-distancia"
            formControlName="form_distancia"
            [options]="aDistanciaOptions"
            [style]="{ width: '100%' }"
          />

        </div>
        
      }

    </div>

  </app-card-with-skeleton>

  <!-- <app-card-with-skeleton>

    @if (shouldShowCarpetas) { 
  
      <div class="h-flex-align-center">

        <h3 class="c-title">Carpetas</h3>

        @if (firstOptionSelected != null) { 

          <p-button 
            label="Volver"
            size="small"
            (onClick)="cleanFirstOption()"
            [style]="{ 'margin-left': '40px' }"

          />

        }

      </div>

    }

    @if (shouldShowCarpetas && firstOptionSelected === null) {

      <div class="h-flex">

        <p-card>

          <div class="v-flex">

            <h4>Presencial</h4>

            <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>

          </div>

        </p-card>

        <p-card>

          <div class="v-flex">

            <h4>Semipresencial y a Distanca</h4>

            <p-button label="Acceder" size="small" (onClick)="selectFirstOption('SemipresencialDistancia')"/>
            
          </div>

        </p-card>

      </div>

    } @else if (shouldShowCarpetas && firstOptionSelected === 'Presencial') {

      <div class="h-flex">

        <p-card>

          <div class="v-flex">
  
            <h4>Presencial</h4>
  
            <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>
  
          </div>
  
        </p-card>

      </div>

    } @else if (shouldShowCarpetas && firstOptionSelected === 'SemipresencialDistancia') {

      <div class="h-flex">

        <p-card>

          <div class="v-flex">
  
            <h4>Virtual 16 Semanas</h4>
  
            <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>
  
          </div>
  
        </p-card>

      </div>

    }

  </app-card-with-skeleton> -->

</app-navigation-container>