<app-navigation-container>

  <app-card-with-skeleton>

    <div class="v-flex">

      <h3 class="title-color">Registro de Solicitud de Diseño de Curso</h3>

      <form [formGroup]="registerRequestForm" class="grid">

        <div class="col-12 md:col-6 v-flex">
    
          <input 
            pInputText 
            type="text"  
            placeholder="Código"
            formControlName="codigo" 
          />
    
          <input 
            pInputText 
            type="text" 
            placeholder="Asignatura"
            formControlName="asignatura" 
          />
    
          <p-dropdown 
            formControlName="eap" 
            placeholder="Eap"
            [style]="{'width':'100%'}"
            [options]="eapOptions"
          />
    
          <p-dropdown 
            formControlName="plan" 
            placeholder="Plan"
            [style]="{'width':'100%'}"
          />
    
          <p-dropdown 
            formControlName="tipo_asignatura" 
            placeholder="Tipo de Asignatura"
            [style]="{'width':'100%'}"
            [options]="tipoAsignaturaOptions"
          />
    
          <p-button 
            label="Registrar"
            size="small"
            (onClick)="toggleShouldShowCarpetas()"
          />
    
        </div>

        <div class="col-12 md:col-6 v-flex">

          <p-dropdown 
            formControlName="tipo_diseno" 
            placeholder="Tipo de Diseño"
            [style]="{'width':'100%'}"
            [options]="tipoDisenoOptions"
          />

          <p-dropdown 
            formControlName="facultad" 
            placeholder="Facultad"
            [style]="{'width':'100%'}"
            [options]="facultadOptions"
          />
    
          <p-dropdown 
            formControlName="ciclo" 
            placeholder="Ciclo"
            [style]="{'width':'100%'}"
          />
    
          <p-dropdown 
            formControlName="docente_diseñador" 
            placeholder="Docente Diseñador"
            [style]="{'width':'100%'}"
          />

          <p-dropdown 
            formControlName="modalidad" 
            placeholder="Modalidad"
            [options]="modalidadOptions"
            [style]="{'width':'100%'}"
          />

          <h3 class="title-color">Formato</h3>

          @if (this.registerRequestForm.value.modalidad === 0) {

            <p-message 
              severity="warn"
              text="Seleccione el formato de acuerdo a la modalidad"
              [style]="{'width':'100%'}"
            />

          }

          @if ( 
            this.registerRequestForm.value.modalidad.id === 1 ||
            this.registerRequestForm.value.modalidad.id === 4 ||
            this.registerRequestForm.value.modalidad.id === 6 ||
            this.registerRequestForm.value.modalidad.id === 7 
          ) {

            <label for="sc-formato-presencial">Presencial</label>

            <p-dropdown
              id="sc-formato-presencial"
              formControlName="formato_presencial"
              [options]="presencialOptions"
              [style]="{ width: '100%' }"
            />
          } 
          
          @if ( 
            this.registerRequestForm.value.modalidad.id === 2 ||
            this.registerRequestForm.value.modalidad.id === 5 ||
            this.registerRequestForm.value.modalidad.id === 6 ||
            this.registerRequestForm.value.modalidad.id === 7 
          ) {

            <label for="sc-formato-semipresencial">Semipresencial</label>

            <p-dropdown
              id="sc-formato-presencial"
              formControlName="formato_semipresencial"
              [options]="semipresencialOptions"
              [style]="{ width: '100%' }"
            />

          } 
          
          @if ( 
            this.registerRequestForm.value.modalidad.id === 3 ||
            this.registerRequestForm.value.modalidad.id === 4 ||
            this.registerRequestForm.value.modalidad.id === 5 ||
            this.registerRequestForm.value.modalidad.id === 7 
          ) {

            <label for="sc-formato-a-distancia">A Distancia</label>

            <p-dropdown
              id="sc-formato-a-distancia"
              formControlName="form_distancia"
              [options]="aDistanciaOptions"
              [style]="{ width: '100%' }"
            />
            
          }
    
        </div>

      </form>

      @if (shouldShowCarpetas) { 
        
        <div class="h-flex-align-center">

          <h3 class="title-color">Carpetas</h3>

          @if (firstOptionSelected != null) { 

            <p-button 
              label="Volver"
              size="small"
              (onClick)="cleanFirstOption()"
              [style]="{ 'margin-left': '40px' }"

            />

          }

        </div>

      }

      @if (shouldShowCarpetas && firstOptionSelected === null) {

        <div class="h-flex">

          <p-card>

            <div class="v-flex">

              <h4>Presencial</h4>

              <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>

            </div>

          </p-card>

          <p-card>

            <div class="v-flex">

              <h4>Semipresencial y a Distanca</h4>

              <p-button label="Acceder" size="small" (onClick)="selectFirstOption('SemipresencialDistancia')"/>
              
            </div>

          </p-card>

        </div>

      } @else if (shouldShowCarpetas && firstOptionSelected === 'Presencial') {

        <div class="h-flex">

          <p-card>

            <div class="v-flex">
    
              <h4>Presencial</h4>
    
              <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>
    
            </div>
    
          </p-card>

        </div>

      } @else if (shouldShowCarpetas && firstOptionSelected === 'SemipresencialDistancia') {

        <div class="h-flex">

          <p-card>

            <div class="v-flex">
    
              <h4>Virtual 16 Semanas</h4>
    
              <p-button label="Acceder" size="small" (onClick)="selectFirstOption('Presencial')"/>
    
            </div>
    
          </p-card>

        </div>

      }
      
    </div>

  </app-card-with-skeleton>

</app-navigation-container>