<app-navigation-container>

  <app-card-with-skeleton [isLoading]="getSolicitudDisenoCursoListService().isLoading">

    <div class="h-flex-justify-between">

      <h3 class="title-color fw-400">Producción General</h3>
  
    </div>
  
    <p-table [value]="getSolicitudDisenoCursoListService().data || []">
  
      <ng-template pTemplate="header">
  
        <tr>
          <th>PLAN</th>
          <th>EAP</th>
          <th>FACULTAD</th>
          <th>MODALIDAD</th>
          <th>ASIGNATURA</th>
          <th>ACCIONES</th>
        </tr>
  
      </ng-template>
  
      <ng-template pTemplate="body" let-solicitud>
  
        <tr>

          <td>{{ solicitud.plan }}</td>

          <td>{{ matchEapName(solicitud.eap) }}</td>

          <td>{{ matchFacultadName(solicitud.facultad) }}</td>

          <td>{{ solicitud.modalidad }}</td>

          <td>{{ solicitud.asignatura }}</td>

          <td>
            <p-button 
              label="Ver" 
              size="small" 
              icon="pi pi-eye" 
              (onClick)="redirectToProductionForm(solicitud.id)"
            />
          </td>
        </tr>
        
      </ng-template>
  
    </p-table>

  </app-card-with-skeleton>

</app-navigation-container>