<app-navigation-container>

  <app-card-with-skeleton [isLoading]="getSolicitudDisenoCursoListService().isLoading">

    <div class="h-flex-justify-between-align-center">

      <h3 class="title-color fw-400">Producción General</h3>

      <p-button 
        label="Cargar Archivo" 
        icon="pi pi-upload"
        size="small"
        (onClick)="toggleIsDialogOpen()"
      />
  
    </div>
  
    <p-table [value]="getSolicitudDisenoCursoListService().data || []">
  
      <ng-template pTemplate="header">
  
        <tr>
          <th>Plan</th>
          <th>Eap</th>
          <th>Decano</th>
          <th>Modalidad</th>
          <th>Asignatura</th>
          <th>Acciones</th>
        </tr>
  
      </ng-template>
  
      <ng-template pTemplate="body" let-produccion>
  
        <tr>

          <td>{{ produccion.plan }}</td>

          <td>{{ produccion.eap }}</td>

          <td>{{ produccion.decano }}</td>

          <td>{{ produccion.modalidad }}</td>

          <td>{{ produccion.asignatura }}</td>

          <td>
            <p-button 
              label="Ver" 
              size="small" 
              icon="pi pi-eye"
              (onClick)="redirectToProductionForm(produccion.id)"
            />
          </td>
        </tr>
        
      </ng-template>
  
    </p-table>

  </app-card-with-skeleton>

</app-navigation-container>

<!-- El emisor y lo que va a emitir -->
<app-upload-produccion-general-file-dialog 
  [isDialogOpen]="isDialogOpen" 
  (closeDialogEmitter)="toggleIsDialogOpen()"
/>