<app-navigation-container>

  <app-custom-breadcrumb [items]="breadcrumbItems"/>

  <app-card-with-skeleton [isLoading]="getProduccionGeneralQuery.isLoading()">

    <div class="h-flex-justify-between-align-center">

      <h3 class="c-title fw-400">Producción General</h3>

      <p-button 
        label="Importar Excel" 
        icon="pi pi-upload"
        size="small"
        severity="success"
        (onClick)="toggleIsDialogOpen()"
      />
  
    </div>
  
    <p-table [value]="getProduccionGeneralQuery.data() || []">
  
      <ng-template pTemplate="header">
  
        <tr>

          <th>Plan</th>

          <th>Asignatura</th>

          <th>Asesor</th>

          <th>Decano</th>

          <th>Modalidad</th>

          <th>Acciones</th>

        </tr>
  
      </ng-template>
  
      <ng-template pTemplate="body" let-produccion>
  
        <tr>

          <td>
            {{ produccion.plan }}
          </td>

          <td>
            {{ produccion.asignatura }}
          </td>

          <td>
            {{ produccion.asesor }}
          </td>

          <td>
            {{ produccion.decano }}
          </td>

          <td>
            {{ matchModalidad(produccion.modalidad) }}
          </td>

          <td>
            <div class="h-flex">

              <p-button 
                label="Ver" 
                size="small" 
                icon="pi pi-eye"
                (onClick)="redirectToProductionForm(produccion.id)"
              />

              <p-button 
                label="Seguimiento" 
                size="small" 
                (onClick)="redirectToSeguimiento(produccion.id, produccion.modalidad)"
                icon="pi pi-angle-double-right"
                severity="secondary"
              />

              <p-button 
                label="Validación" 
                size="small" 
                (onClick)="redirectToValidacion(produccion.id)"
                icon="pi pi-check"
                severity="warning"
              />

              <p-button 
                label="Reportes" 
                size="small" 
                (onClick)="redirectToReportes(produccion.id)"
                icon="pi pi-book"
                severity="danger"
              />

              <p-button 
                label="Subir Archivo" 
                size="small" 
                (onClick)="redirectToProduccionGeneralByRowArchivos(produccion.id)"
                icon="pi pi-upload"
                severity="success"
              />

            </div>
          </td>
        </tr>
        
      </ng-template>
  
    </p-table>

  </app-card-with-skeleton>

</app-navigation-container>

<!-- El emisor y lo que va a emitir -->
<app-upload-produccion-general-file-dialog 
  [isDialogOpen]="isDialogOpen" 
  (closeDialogEmitter)="toggleIsDialogOpen()"
/>