<app-navigation-container>

  <app-card-with-skeleton [isLoading]="getUserListService().isLoading">

    <div class="h-flex-justify-between">

      <h3 class="title-color fw-400">Programas</h3>

      <p-button
        label="Registrar Programa"
        icon="pi pi-plus"
        size="small"
        (onClick)="toggleOpenRegister()"
      ></p-button>

    </div>

    <p-table [value]="getUserListService().data || []">

      <ng-template pTemplate="header">

        <tr>

          <th>ID</th>

          <th>NOMBRE</th>

          <th>ACCIONES</th>

        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-programa>

        <tr>

          <td>{{ programa.id }}</td>

          <td>{{ programa.nombre }}</td>

          <td>

            <div class="h-flex">

              <p-button 
                icon="pi pi-pencil" 
                size="small"
                (onClick)="toggleOpenRegister()"
              ></p-button>

              <p-button 
                icon="pi pi-trash" 
                size="small"
                (onClick)="toggleOpenDelete()"
              >

              </p-button>

            </div>

          </td>

        </tr>

      </ng-template>

    </p-table>

  </app-card-with-skeleton>
    
  </app-navigation-container>

<app-register-programa-dialog 
  (toggleOpenRegister)="toggleOpenRegister()"
  [isRegisterOpen]="isRegisterOpen"
/>

<app-confirm-dialog [confirmDeletePayload]="confirmDeletePayload"/>