<app-context-container>

  <div class="login-container">

    <div class="grid h-full">
  
      <div class="hidden md:flex md:col-6 bg-blue-500 h-full">
        
        <div class="logo-container">
  
          <img src="/assets/u-continental.svg" alt="" class="login-logo">
  
        </div>
  
      </div>
  
      <div class="col-12 md:col-6 bg-gray-100 h-full">
        
        <div class="grid align-items-center	justify-content-center h-full">
  
          <p-card class="col-12 md:col-8 lg:col-6 xl:col-6 p-0">
  
            <form class="v-flex p-0" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
  
              <h2 class="c-title align-self-center">Iniciar Sesión</h2>
      
              <input 
                pInputText 
                type="text" 
                class="p-inputtext-sm" 
                placeholder="Correo"
                formControlName="email" 
              />
            
              <input 
                pInputText 
                type="password"
                class="p-inputtext-sm" 
                placeholder="Contraseña"
                formControlName="password"  
              />
      
              <p-button 
                label="Entrar" 
                size="small" 
                class="align-self-center"
                type="submit"
              />
  
            </form>
            
          </p-card>
  
        </div>
  
  
      </div>
  
    </div>
  
  </div>

</app-context-container>