<div class="login-background">

  <div class="login-background-padding">

    <div class="grid">

      <!-- <div class="hidden md:flex md:col-6">
        
        <div class="logo-container">

          <img src="/assets/u-continental.svg" alt="" class="login-logo">

        </div>

      </div> -->

      <div class="col-12 md:col-12">
        
        <div class="grid v-flex-justify-center-align-center">

          <p-card class="col-12 md:col-8 lg:col-6 xl:col-4 p-0">

            <form class="v-flex p-0" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
  
              <h2 class="title-color align-self-center">Iniciar Sesión</h2>
      
              <input 
                pInputText 
                type="text" 
                class="p-inputtext-sm" 
                placeholder="Correo"
                formControlName="correo" 
              />
            
              <input 
                pInputText 
                type="password"
                class="p-inputtext-sm" 
                placeholder="Contraseña"
                formControlName="contrasena"  
              />
      
              <p-button 
                label="Entrar" 
                size="small" 
                class="align-self-center"
                type="submit"
              />
  
            </form>
            
          </p-card>

        </div>


      </div>

    </div>

  </div>

</div>